.storeCont {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.storeItems {
  display: flex;
}

.itemCont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
