.storeCont {
  display: flex;
  flex-direction: column;
  text-align: center;

  h1 {
    text-decoration: underline;
  }
}

.storeItems {
  display: flex;
}

.itemCont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
